#!/bin/zsh

# Platform-specific aliases
PLATFORM=`uname`
if [[ "$PLATFORM" == 'Linux' ]]; then
  alias ls='ls --color=auto -h'
  alias pbcopy='xclip -selection clipboard'
  alias pbpaste='xclip -selection clipboard -o'
  alias open='xdg-open'
  alias dus='du -hxd 1 | sort -h'
elif [[ "$PLATFORM" == 'FreeBSD' ]]; then
  alias ls='ls -Gh'
elif [[ "$PLATFORM" == 'Darwin' ]]; then
  alias ls='ls -Gh'
  alias dus='du -hd 1 | gsort -h'
fi

# OpenSSL
alias sha1='openssl sha1'
alias md5='openssl md5'

# Use mkdir's automatic parent creation mode
alias mkdir='mkdir -pv'

# Always run rsync/wget in verbose/partial mode with retry enabled
alias wget='wget -c'
alias rsync='rsync --progress --partial'

# Always run df/du with human-readable output
alias df='df -h'
alias du='du -h'

# Some rlwrap aliases for REPLs that don't support readline
alias ocaml='rlwrap ocaml'
alias v8='rlwrap v8'
alias d8='rlwrap d8'
alias coffee='rlwrap coffee'

# Run pacman with color output
alias pacman='pacman --color auto'

# Run tmux in 256-color mode
alias tmux='tmux -2'

# Some ls aliases
alias ll='ls -lh'
alias lrt='ls -lrth'
alias la='ls -lha'

# Cuts selected columns in multi-space commands (e.g. ps)
alias fcut="tr -s ' ' | cut -d ' ' -f"

# Sums integers
# http://stackoverflow.com/questions/450799
alias fsum="awk '{s+=\$1} END {print s}'"

# Human-readable numbers
# http://unix.stackexchange.com/questions/44040
alias fhum="numfmt --to=iec-i --padding=7"

# Kills the last suspended job group
alias killit='kill -9 %%'

# Runs a command under GDB immediately
alias gdbrun='gdb -ex=r --args'

# Short format version of the current date or date/time
alias dt='date +%Y%m%d'
alias dtu='date +%Y-%m-%d'
alias dtt='date +%Y%m%d_%H%M%S'

# More powerful alias for strace
alias strace="strace -frttTyy"

# CSV to Excel conversion
alias csv2xls="soffice --convert-to xls"

# Convert a binary file to a PGM image
function bin2pgm() {
  echo "P5 512 4096 255"
  cat "$1"
}

# Count number of files in directory
function dn() {
for f; do
  count=$(ls -Ub1 "$f" | wc -l)
  echo "$count\t$f"
done
}

# SHA265 fingerprint of a TLS host, Base64-encoded
function tls_remote_sha256_b64() {
  openssl s_client -connect "$1" < /dev/null 2>/dev/null |\
    openssl x509 -noout -in /dev/stdin -pubkey |\
    openssl pkey -pubin -outform der |\
    openssl dgst -sha256 -binary |\
    openssl enc -base64
}

# Reload Gnome-Shell extensions
alias reloadext="gdbus call --session --dest org.gnome.Shell --object-path /org/gnome/Shell --method org.gnome.Shell.Extensions.ReloadExtension"
