[user]
	name = François-Xavier Thomas
	email = fx.thomas@gmail.com
[diff]
  tool = vimdiff
	algorithm = patience
[pager]
  diff =
[color]
  ui = auto
[core]
	excludesfile = ~/.gitignore_global
[alias]
  assume = update-index --assume-unchanged
  unassume = update-index --no-assume-unchanged
  assumed = "!git ls-files -v | grep ^h | cut -c 3-"
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
